/* Header.css */

/* Стили для заголовка */
header {
    display: flex;
    align-items: center;
    background-color: #333;  /* Темный фон */
    padding: 10px 20px;
  }
  
  /* Стили для левого раздела с текстом "Administrator Panel" */
  .left-section {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
  }
  
  /* Наклонная белая линия */
  .stripe {
    width: 10%;
    height: 5px;
    background-color: #fff;
    transform: rotate(45deg); /* Наклон под углом 45 градусов */
    
  }
  .stripeBack {
    width: 10%;
    height: 5px;
    background-color: #fff;
    transform: rotate(135deg); /* Наклон под углом 45 градусов */
    
  }
  
  /* Стили для навигационных ссылок */
  nav {
    display: flex;
    gap: 5%;
    flex-grow: 1;
    justify-content: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Стили для авторизации (логин или имя пользователя) */
  .auth-section {
    display: flex;
    align-items: center;
    color: #fff;
    
  }
  
  .login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .widhtBox{
    width: 40%;
    margin-right: 10%;
  }
  